@import "tailwindcss";

/* body {
    font-family: 'Segoe UI', 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    min-height: 20vh;
    margin: 0;
    align-items: center;
    justify-content: center;
} */